<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="./img/swan.jpg">
        <p>{{name}}</p>
    </body>
</html>