<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./CSS/style.css">
    </head>
    <body>
        <h1>help hbs page</h1>
        <h1>{{title}}</h1>
        <p>may be it will be useful</p>
        <h3>creted by {{name}}</h3>
    </body>
</html>